form {
    display: flex;
    justify-content: center;
    input {
        width: 200px;
        height: 25px;
        margin-right: 5px;
        border-radius: 10px;
        background-color: #fbfaf2;
        border: solid #21624b 1px;
    }
}
